:root {
    --primary-color: #ffcc00;
    --dot-color: #fff;
    --success-color: #28a745;
    --error-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --secondary-color: #ff6600;
    --background-color: #1a1a1a;
    --text-color: #ffffff;
}

body {
    font-family: 'Zpix', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    cursor: url('https://cdn.jsdmirror.com/gh/zygame1314/zygame1314page@1.6.3/images/cursors/Rath pointer.cur'), auto;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: url('https://cdn.jsdmirror.com/gh/zygame1314/zygame1314page@1.6.3/images/cursors/Rath Link.cur'), auto;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.8;
    cursor: url('https://cdn.jsdmirror.com/gh/zygame1314/zygame1314page@1.6.3/images/cursors/kushala text select.cur'), auto;
}