#home {
    text-align: center;
}

#home .avatar {
    width: 180px;
    height: 180px;
    border: 5px solid var(--primary-color);
    box-sizing: border-box;
    image-rendering: pixelated;
    margin-left: 20px;
    margin-right: 20px;
}


#home .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}